﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="RMS.Home" MasterPageFile="~/Root.master" %>

<asp:Content ID="Content" ContentPlaceHolderID="PageContent" runat="server">
        <div class="panel panel-default" style="min-width: 50%;max-width:500px;margin:15px"  >
            <div class="panel-heading clearfix" style="padding:15px">
                <asp:Label runat="server" ID="lblName" ForeColor="White" Font-Bold="True" Font-Size="Medium" ></asp:Label>
            </div>
            <table class="table table-condensed table-bordered"><tr><td rowspan="3"><img src="img/User.png" width="100" height="100" /></td>
                    <td><asp:Label runat="server" ID="lblFullname" /></td>
                </tr>
                <tr><td style="width:80%">
                         <asp:Label runat="server" ID="lblOrg" /></td>
                </tr>
                <tr>
                    <td>
                        <asp:Label runat="server" ID="lblPasswordExpiry" />
                    </td>
                </tr>
                
            </table>
            
        </div>
</asp:Content>
